@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf?t=1647871026867') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e62c";
}

.icon-diqiu:before {
  content: "\e642";
}

.icon-zhanghushouru:before {
  content: "\e60c";
}

.icon-zhuxiao:before {
  content: "\e6ac";
}

